#icone-user{
	font-size: 3.8em;
	color: rgb(240, 240, 240);
	position: relative;
	bottom: -5px;
}
#curso, #sem{
	display: block;
	font-size: 0.9em;
}
#nome{
	font-size: 1.1em;
	display: block;
}
#navbar{
	background-color: #5a7b9d;
}
#notif{
	font-size: 1.6em;
	cursor: pointer;
}
#notif:hover{
	color: #818181;
}
#notif-num{
	position: relative;
	top: -12px;
	left: -15px;
}